@using System.Security.Claims
@{
    ViewBag.Title = "Home Page";
}

<style type="text/css">
    dt {
        font-weight: normal;
    }

    dd {
        font-weight: bold;
    }
</style>
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1>Actions</h1>
        <hr />
        <section class="col-md-6 mb-3">
            <a href="@Url.Action("SendRoles", "BirSignManage")" target="_blank" class="btn btn-outline-dark">Send Roles</a>
            <a href="@Url.Action("SendUsers", "BirSignManage")" target="_blank" class="btn btn-outline-dark">Send Users</a>
        </section>
    </section>
    <div class="row">
        <section class="col-md-4">
            <h1>User Status</h1>
            <hr />
            @if (User.Identity.IsAuthenticated)
            {
                <b class="text-success">Authorized</b>
            }
            else
            {
                <b class="text-danger">Unauthorized</b>
            }
        </section>
        @if (User.Identity.IsAuthenticated)
        {
            <section class="col-md-4">
                <h1>User Info</h1>
                <hr />
                <dl>
                    <dt>Name</dt>
                    <dd>@(((ClaimsPrincipal)User).FindFirst("MPH_name")?.Value ?? "-")</dd>
                    <dt>Family</dt>
                    <dd>@(((ClaimsPrincipal)User).FindFirst("MPH_family")?.Value ?? "-")</dd>
                    <dt>NationalCode</dt>
                    <dd>@(((ClaimsPrincipal)User).FindFirst("name")?.Value ?? "-")</dd>
                    <dt>Birthdate</dt>
                    <dd>@(((ClaimsPrincipal)User).FindFirst("MPH_birthdate")?.Value ?? "-")</dd>
                    <dt>PhoneNumber</dt>
                    <dd>@(((ClaimsPrincipal)User).FindFirst("MPH_phonenumber")?.Value ?? "-")</dd>
                    <dt>Email</dt>
                    <dd>@(((ClaimsPrincipal)User).FindFirst("MPH_email")?.Value ?? "-")</dd>
                    <dt>Username</dt>
                    <dd>@(((ClaimsPrincipal)User).FindFirst("name")?.Value ?? "-")</dd>
                </dl>
            </section>
            <section class="col-md-4">
                <h1>User Roles</h1>
                <hr />
                @foreach (var role in ((ClaimsPrincipal)User).Claims
                    .Where(x => x.Type == "role")
                    .Select(x => x.Value)
                    .ToList())
                {
                    <p><b>@role</b></p>
                }
            </section>
        }
    </div>
</main>